.body {
    max-width: 125rem;
    width: 90%;
    margin: 3rem auto;
    padding: 3rem;
    font-family: "Ubuntu", sans-serif;
    color: #555;
    font-size: var(--font-size-content);
}

.body input {
    font-size: var(--font-size-content)
}

/*.account__map {
    font-size: 1.2rem;
    text-transform: uppercase;
}
    .account__map a {
        line-height: 4;
    }
    .account__nav a,
    .account__map a,
    .account__map--separate {
        color: #bbb;
    }

        .account__nav a:hover,
        .account__map a:hover {
            color: #555;
            transition: all 0.2s linear;
        }

.account__map--separate {
    margin: 0 0.8rem;
}

.account__nav span:first-of-type {
    margin: 0.5rem;
}

.account__title {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    word-spacing: 0.3rem;
    margin: 2rem 0 4rem;
    margin-top: 4rem;
}

.account__nav {
    width: 50%;
    min-width: 55rem;
    margin: 5rem auto;
}

.account__nav--items {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.5px;
}

.account__item-selected a {
    color: #555;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #555;
}*/

.update__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.update__content--item {
    width: 48%;
    margin: 1.5rem 0;
}

.item__header--last {
    margin-bottom: 1rem;
}

.update__content--item-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

    .update__content--item-header p:last-of-type {
        text-transform: uppercase;
        font-size: 0.95rem;
        color: #ccc;
    }

.update__content--item input,
.update__content--item select {
    width: 100%;
    padding: 1rem;
    margin: 1.2rem 0;
    border: 1px solid #bbb;
    border-radius: 0.3rem;
    color: #111;
}

.update__content--radioList {
    margin-top: 0.7rem;
}

.update__content--radio {
    display: flex;
    align-items: center;
}

    .update__content--radio input {
        width: 10% !important;
        height: 2rem;
        margin-right: 0.5rem;
    }

.content--radio-last input {
    width: 5% !important;
}

.content--item-confirmLetter {
    width: 100%;
}

.content-checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1.5rem;
    margin-top: 2.4rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
}

    .content-checkbox input {
        width: 2rem !important;
        height: 2rem;
        margin-right: 1.4rem;
    }

    .content-checkbox p {
        font-size: 1.5rem;
    }

.content--lbNotify {
    font-size: 1.3rem;
    color: #F19797;
    word-spacing: 0.2rem;
    margin-bottom: 1.5rem;
    display: block !important;
}

.txt__error, .warning {
    font-size: 1.3rem;
    color: #F19797;
    word-spacing: 0.2rem;
}
.warning {
    display: none;
}
.warning-active {
    display: block !important
}
.update__footer {
    display: flex;
    width: 80%;
    margin: 5rem auto;
    justify-content: space-between;
    align-items: flex-end;
}

.update__btn {
    background: #1D1919;
    padding: 1.3rem 3.2rem;
    border: none;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.2rem;
    color: white;
    letter-spacing: 0.3rem;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 0.4rem;
    text-align: center;
}

    .update__btn:hover {
        border: 1px solid #858282;
        color: #383838;
        background: none;
        transition: all 0.2s linear;
    }

.cancel__btn {
    background: none;
    padding: 1.3rem 3.2rem;
    border: 1px solid #aaa;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.2rem;
    color: #111;
    letter-spacing: 0.3rem;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 0.4rem;
    margin-left: 3rem;
}

    .cancel__btn:hover {
        border: 1px solid #111;
        background: white;
        transition: all 0.2s linear;
    }

.update__footer p {
    font-size: 1.3rem;
    position: relative;
    left: 9rem;
}


.update__footer i {
    margin-left: 0.6rem;
}

@media screen and (max-width: 1080px) {
    .body {
        padding: 2rem 2rem 0rem;
    }

    .update__content {
        width: 100%;
    }

    .update__footer {
        width: 100%;
    }

        .update__footer p {
            position: initial;
        }
}

@media screen and (max-width: 768px) {
    .body {
        padding: 2rem 4rem 0rem;
        width: 100%;
    }

    /*.account__nav--items {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .account__nav {
        width: 100%;
        min-width: auto;
    }

    .account__nav--item {
        padding: 1rem;
    }

    .account__content {
        width: 100%;
    }*/

    .update__content--item {
        width: 100%;
    }

    .update__title {
        margin-top: 4rem;
    }

    .update__footer {
        flex-direction: column;
        margin: 2rem 0;
    }

        .update__footer div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 5rem;
        }

    .update__btn {
        width: 45%;
    }

    .cancel__btn {
        width: 45%;
        display: block;
        text-align: center;
        margin-left: 0;
    }
}
@media screen and (max-width: 500px) {
    .body {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 0;
    }

    .update__footer div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .update__btn {
        width: 100%;
        margin-bottom: 1rem;
    }

    .cancel__btn {
        width: 100%;
    }
}
