/*flexbox*/
/*----------------------*/
.header {
  height: 5rem;
  background-color: #fff;
  z-index: 11;
}

.noti__banner {
  height: 4.8rem;
  background-color: #f4f4f4;
  width: 100%;
  position: fixed;
  top: 5rem;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noti__banner p {
  font-size: 1.1rem !important;
  font-weight: 500;
  letter-spacing: .2rem;
  color: #202020;
}

.head__title {
    max-width: 80%;
    margin: calc(2rem + 9.8rem) auto 0;
    margin-bottom: 2rem;
}

.head__title-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__title-list .head__title-item {
  padding: 1rem 1.5rem 1rem 0;
  margin-left: 1rem;
  border-right: 0.1rem solid #a1a1a1;
}

.head__title-list .head__title-item:last-child {
  border-right: 0;
}

.head__title-list .head__title-item:last-child .head__title-link {
  color: #000;
}

.head__title-list .head__title-item .head__title-link {
  font-size: 1.3rem !important;
  font-weight: 500;
  text-transform: uppercase;
  color: #a1a1a1;
}

.head__title-list .head__title-item:hover .head__title-link {
  color: #000;
}

.cartSection {
  max-width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cartSection .cart__wrapper {
  width: 75%;
  padding-right: 2rem;
}

.cartSection .cart__wrapper .cart__noti {
  width: 100%;
  height: 6rem;
  padding: 0 1.5rem 0 2rem;
  border-left: 1rem solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
}

.cartSection .cart__wrapper .cart__noti > i, .cartSection .cart__wrapper .cart__noti p {
  font-size: 1.6rem !important;
}

.cartSection .cart__wrapper .cart__noti p {
  padding-left: 1.5rem;
  letter-spacing: .2rem;
  line-height: 2rem;
}

.cartSection .cart__wrapper .cart__main {
  width: 100%;
}

.cartSection .cart__wrapper .cart__main table {
  width: 100%;
}

.cartSection .cart__wrapper .cart__main table thead,
.cartSection .cart__wrapper .cart__main table tbody {
  width: 100%;
}

.cartSection .cart__wrapper .cart__main table thead tr,
.cartSection .cart__wrapper .cart__main table tbody tr {
  border-bottom: 1px solid #cacaca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartSection .cart__wrapper .cart__main table thead th, .cartSection .cart__wrapper .cart__main table thead td,
.cartSection .cart__wrapper .cart__main table tbody th,
.cartSection .cart__wrapper .cart__main table tbody td {
  text-align: center;
}

.cartSection .cart__wrapper .cart__main table .cart__head {
  padding: 0 1rem;
  font-size: 1.5rem !important;
  font-weight: 600;
}

.cartSection .cart__wrapper .cart__main table .item__img {
  width: 10%;
  padding: 1rem 0;
}

    .cartSection .cart__wrapper .cart__main table .item__img img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    

    .cartSection .cart__wrapper .cart__main table .item__info {
        width: 40%;
        text-align: left;
        padding: 0 2rem;
    }

.cartSection .cart__wrapper .cart__main table .item__info a, .cartSection .cart__wrapper .cart__main table .item__info p {
  font-size: 1.6rem !important;
}

.cartSection .cart__wrapper .cart__main table .item__info > p {
  padding-top: 1rem;
}

.cartSection .cart__wrapper .cart__main table .item__price,
.cartSection .cart__wrapper .cart__main table .item__amount,
.cartSection .cart__wrapper .cart__main table .item__total {
  width: 20%;
}

.cartSection .cart__wrapper .cart__main table .item__price p {
  font-size: 1.6rem !important;
  font-weight: 500;
}

    .cartSection .cart__wrapper .cart__main table .item__amount > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

.cartSection .cart__wrapper .cart__main table .item__amount > div input[type=number]::-webkit-inner-spin-button,
.cartSection .cart__wrapper .cart__main table .item__amount > div input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.cartSection .cart__wrapper .cart__main table .item__amount > div input {
  width: 3rem;
  height: 3rem;
  border: none;
  outline: none;
  text-align: center;
}

.cartSection .cart__wrapper .cart__main table .item__amount > div > button {
  width: 3rem;
  height: 3rem;
  outline: none;
  background: none;
  border: 1px solid #ccc;
  border-radius: .5rem;
  color: #202020;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  cursor: pointer;
}

.cartSection .cart__wrapper .cart__main table .item__amount > div > button i {
  font-size: 1.5rem !important;
}

.cartSection .cart__wrapper .cart__main table .item__amount > div > button:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

.cartSection .cart__wrapper .cart__main table .item__total span {
  font-weight: 600;
  font-size: 1.5rem !important;
}

.cartSection .cart__wrapper .cart__main table .item__total i {
  font-size: 1.8rem !important;
  padding: 1rem;
  cursor: pointer;
}

.cartSection .cart__wrapper .cart__main table .item__total i:hover {
  color: #ccc;
}

.cartSection .cart__wrapper .cart__main ul {
  width: 100%;
}

.cartSection .cart__wrapper .cart__main ul .cart__total {
  border-bottom: 1px solid #cccccc;
}

.cartSection .cart__wrapper .cart__main ul .cart__total .cart__total-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartSection .cart__wrapper .cart__main ul .cart__total .cart__total-head .cart__total-label,
.cartSection .cart__wrapper .cart__main ul .cart__total .cart__total-head .cart__total-value {
  text-align: right;
  padding: 1.5rem 0;
}

.cartSection .cart__wrapper .cart__main ul .cart__total .cart__total-head .cart__total-label p,
.cartSection .cart__wrapper .cart__main ul .cart__total .cart__total-head .cart__total-value p {
  font-size: 1.6rem !important;
  font-weight: 600;
}

.cartSection .cart__wrapper .cart__main ul .cart__total .cart__total-head .cart__total-label {
  width: 90%;
}

.cartSection .cart__wrapper .cart__main ul .cart__total .cart__total-head .cart__total-value {
  width: 10%;
}

.cartSection .cart__wrapper .cart__main ul .cart__total .cart__total-head .cart__total-value span {
  text-decoration: underline;
  font-size: 1.5rem !important;
  cursor: pointer;
}

.cartSection .cart__wrapper .cart__main ul .cart__total .cart__total-form {
  width: 100%;
  padding-bottom: 1.5rem;
}

.cartSection .cart__wrapper .cart__main ul .cart__total .cart__total-form input {
  width: 75%;
  height: 3rem;
  outline: none;
  padding-left: .5rem;
  color: #202020;
  border: 1px solid #ccc;
  border-radius: .3rem;
}

.cartSection .cart__wrapper .cart__main ul .cart__total .cart__total-form button {
  width: 22%;
  height: 3rem;
  margin-left: 2%;
  text-align: center;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: .3rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.cartSection .cart__wrapper .cart__main ul .cart__total .cart__total-form button:hover {
  color: #000;
  background-color: #fff;
}

.cartSection .cart__wrapper .cart__main ul .cart__checkout {
  padding: 1.5rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartSection .cart__wrapper .cart__main ul .cart__checkout .cartHome-btn {
  padding: 1.3rem 2rem;
  font-size: 1.3rem !important;
  font-weight: 500;
  letter-spacing: .2rem;
  text-transform: uppercase;
  border: 1px solid #000;
  color: #202020;
  background-color: #fff;
  border-radius: .5rem;
}

.cartSection .cart__wrapper .cart__main ul .cart__checkout .checkout-btn {
  padding: 1.3rem 3rem;
  font-size: 1.3rem !important;
  font-weight: 500;
  letter-spacing: .2rem;
  text-transform: uppercase;
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
  border-radius: .5rem;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  cursor: pointer;
}

.cartSection .cart__wrapper .cart__main ul .cart__checkout .checkout-btn:hover {
  color: #000;
  background-color: #fff;
}

.cartSection .cart__more {
  width: 25%;
}

.cartSection .cart__more h4 {
  width: 100%;
  text-align: center;
  padding: .5rem 0 3rem 0;
  position: relative;
  font-size: 1.6rem;
  letter-spacing: .1rem;
}

.cartSection .cart__more h4::after {
  content: '';
  width: 20%;
  height: .1rem;
  background-color: #000;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.cartSection .cart__more .cart__more-contents {
  border: 1px solid #f4f4f4;
}

.cartSection .cart__more .cart__more-contents .cart__more-box h5 {
  padding: .5rem 0 1rem 2rem;
  text-decoration: underline;
  background-color: #f4f4f4;
  font-size: 1.5rem;
  cursor: pointer;
}

.cartSection .cart__more .cart__more-contents .cart__more-box .box-content {
  padding: 1rem;
  overflow: hidden;
}

.cartSection .cart__more .cart__more-contents .cart__more-box .box-content p {
  font-size: 1.4rem !important;
  font-weight: 500;
  line-height: 2rem;
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.wrapper .checkout__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .checkout__wrapper .checkout-popup {
  width: 45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  color: #000;
  border-radius: .5rem;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
  z-index: 110;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.wrapper .checkout__wrapper .checkout-popup h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
  margin: 2rem 0;
}

.wrapper .checkout__wrapper .checkout-popup p {
  padding: 0 2rem 2rem;
  font-size: 2rem !important;
  font-weight: 500;
  text-align: center;
  line-height: 1.3;
}

.wrapper .checkout__wrapper .checkout-popup > div {
  padding: 2rem 0 4rem;
}

.wrapper .checkout__wrapper .checkout-popup > div a {
  padding: 1.5rem 3rem;
  outline: none;
  border: none;
  border-radius: .5rem;
  font-size: 1.8rem !important;
  text-transform: uppercase;
  margin-right: 1rem;
  cursor: pointer;
}

.wrapper .checkout__wrapper .checkout-popup > div .editcart-btn {
  background-color: #757575;
  color: #fff;
}

.wrapper .checkout__wrapper .checkout-popup > div .checkoutPopup-btn {
  color: #fff;
  background-color: #2778c4;
}

.wrapper .checkout__wrapper .over-lay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000085;
}

.appear-popup {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 1000px) {
  .cart__total-head .cart__total-label {
    width: 85% !important;
  }
  .cart__total-head .cart__total-value {
    width: 15% !important;
  }
}

@media only screen and (max-width: 800px) {
  .cartSection .cart__more {
    display: none;
  }
}
/*# sourceMappingURL=GioHang.css.map */