.body{
    max-width: 108rem;
    width: 90%;
    margin: 3rem auto;
    padding: 3rem;
    font-family: "Ubuntu", sans-serif;
    color: #555;
    font-size: var(--font-size-content);
}

.register__nav {
    font-size: var(--font-size);
    text-transform: uppercase;
}

    .register__nav a {
        color: #bbb;
    }

        .register__nav a:hover {
            color: #555;
            transition: all 0.2s linear;
        }

    .register__nav span:first-of-type {
        margin: 0.5rem;
    }

.register__title {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    word-spacing: 0.3rem;
    margin: 2rem 0 4rem;
}

.register__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.register__content--item {
    width: 48%;
    margin: 1.5rem 0;
}

.item__header--last {
    margin-bottom: 1rem;
}

.register__content--item-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

    .register__content--item-header p:last-of-type {
        text-transform: uppercase;
        font-size: 0.95rem;
        color: #ccc;
    }

.register__content--item input,
.register__content--item select {
    width: 100%;
    padding: 1rem;
    margin: 1.2rem 0;
    border: 1px solid #bbb;
    border-radius: 0.3rem;
    color: #111;
}

.register__content--radioList {
    margin-top: 0.7rem;
}

.register__content--radio {
    display: flex;
    align-items: center;
}

    .register__content--radio input {
        width: 10% !important;
        height: 2rem;
        margin-right: 0.5rem;
    }

.content--radio-last input {
    width: 5% !important;
}

.content--item-confirmLetter {
    width: 100%;
}

.content-checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1.5rem;
    margin-top: 2.4rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
}

    .content-checkbox input {
        width: 2rem !important;
        height: 2rem;
        margin-right: 1.4rem;
    }

    .content-checkbox p {
        font-size: var(--font-size-content);
    }

.content--lbNotify {
    font-size: var(--font-size-content);
    color: #F19797;
    word-spacing: 0.2rem;
    margin-bottom: 1.5rem;
    display: block !important;
}

.txt__error, .warning {
    font-size: var(--font-size-content);
    color: #F19797;
    word-spacing: 0.2rem;
}
.warning {
    display: none;
}
.warning-active{
    display: block !important;
}
/* .txt__error[style*="inline"] {
            font-size: 1.3rem;
            color: #F19797;
            word-spacing: 0.2rem;
            margin-bottom: 1.5rem;
            display: block !important;
        }
        */
.register__footer {
    display: flex;
    width: 80%;
    margin: 5rem auto;
    justify-content: space-between;
    align-items: flex-end;
}

.register__btn {
    background: #1D1919;
    padding: 1.3rem 3.2rem;
    border: none;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.2rem;
    color: white;
    letter-spacing: 0.3rem;
    font-size: var(--font-size-content);
    cursor: pointer;
    border-radius: 0.4rem;
}

    .register__btn:hover {
        border: 1px solid #858282;
        color: #383838;
        background: none;
        transition: all 0.2s linear;
    }

.register__footer p {
    font-size: 1.2rem;
    position: relative;
    left: 9rem;
}

.register__footer i {
    margin-left: 0.6rem;
}

@media screen and (max-width: 1080px) {
    .register__content {
        width: 100%;
    }

    .register__footer {
        width: 100%;
    }

        .register__footer p {
            position: initial;
        }
}

@media screen and (max-width: 768px) {
    .body {
        width: 100%;
    }
    .register__content--item {
        width: 100%;
    }

    .register__title {
        margin-top: 4rem;
    }
}
@media screen and (max-width: 415px){
    .body {
        padding: 4rem 2rem 0 2rem;
    }
    .register__footer {
        flex-direction: column;
        margin: 2rem 0;
    }
    .register__btn {
        width: 100%;
        margin-bottom: 6rem;
    }
    .register__content--radio input {
        margin-right: 1.5rem;
        margin-left: 1rem;

    }
    .register__content--radio label {
        font-size: 1.3rem;
    }
}