   /*header*/
   
   .header {
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       z-index: 1;
       display: inline-block;
       font-family: 'Ubuntu', sans-serif;
       letter-spacing: 1px;
       font-size: 9px;
   }
   
   .header:hover {
       background-color: #fff;
   }
   /* cho cac thuoc tinh li nam tren mot hang */
   
   .header__menu>li {
       display: inline-block;
       position: relative;
   }
   
   .header__menu--items>a {
       /* chi tac dong len thuoc tinh the a cap 1 */
       color: #000;
       text-transform: uppercase;
   }
   
   .header__menu .header__menu--items a {
       text-decoration: none;
       line-height: 52px;
       padding: 0 26px;
       display: block;
   }
   
   .header__menu li a {
       text-decoration: none;
       display: block;
   }
   
   .header__menu li:hover .subnav {
       display: block;
       animation: headerNotifyGrowth ease-in 0.4s;
       transform-origin: top center;
   }
   
   .header__menu,
   .subnav,
   .subnav--child {
       list-style-type: none;
   }
   /* block con */
   
   .subnav--child {
       display: none;
       overflow: hidden;
       max-height: 0;
       -webkit-transition: max-height 500ms ease;
       -moz-transition: max-height 500ms ease;
       -o-transition: max-height 500ms ease;
       transition: max-height 500ms ease;
   }
   /* xu li hover sau block  */
   
   .navPage-subMenu-item-child:hover .subnav--child {
       display: block;
       float: right;
       position: absolute;
       margin-left: 160px;
       margin-top: -40px;
       background-color: #fff;
       min-width: 200px;
       max-height: 150px;
       animation: headerNotifyGrowth ease-in 0.4s;
       transform-origin: top left;
   }
   
   .header__menu li {
       /* ap dung the cha, doi voi subnav */
       position: relative;
   }
   /* tach hai truong hop */
   
   .header__menu>li>a {
       /* chi tac dong len thuoc tinh the a cap 1 */
       color: #000;
       text-transform: uppercase;
   }
   /* tat ca thuoc tinh a cua li cua id .header__menu se bi anh huong thuoc tinh tren */
   
   @keyframes headerNotifyGrowth {
       from {
           opacity: 0;
           transform: scale(0);
           height: 0;
       }
       to {
           opacity: 1;
           transform: scale(1);
           height: inherit;
       }
   }
   
   @keyframes rollIn {
       0% {
           opacity: 0;
           transform: translateX(-100%) rotate(-120deg);
       }
       100% {
           opacity: 1;
           transform: translateX(0px) rotate(0deg);
       }
   }
   /* chi tac dong len the cap 1 */
   
   .header__menu>li:hover>a {
       color: #000;
       /* background-color: #fff; */
   }
   
   .header__menu .subnav li:hover {
       /* css rieng cho cap 2 */
       color: #000;
       background-color: #f4f4f4f4;
   }
   
   .header__menu .subnav {
       min-width: 160px;
       display: none;
       top: 100%;
       left: 0;
       /* bang dung kich thuoc cua the cha */
       position: absolute;
       background-color: #fff;
       box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
   }
   
   .header__menu .subnav a {
       color: #000;
       padding: 0 12px;
       line-height: 38px;
   }
   
   .header__menu .nav-arrow-down {
       font-size: 14px;
   }
   
   .main-logos {
       width: 80px;
       height: 52px;
   }
   
   .form-input {
       border: none;
       background-color: rgba(0, 0, 0, 0);
       font-family: 'Ubuntu', sans-serif;
       color: black;
   }
   
   .form-input:focus {
       background-color: none;
       outline: none;
       border-bottom: #000 1px solid;
       font-family: 'Ubuntu', sans-serif;
       font-size: 12px;
       color: black;
   }
   
    ::placeholder {
       font-size: 12px;
       font-family: 'Ubuntu', sans-serif;
       color: black;
       font-weight: normal;
   }
   
    :-ms-input-placeholder {
       /* Internet Explorer 10-11 */
       font-size: 12px;
       font-family: 'Ubuntu', sans-serif;
       color: black;
       font-weight: normal;
   }
   
    ::-ms-input-placeholder {
       /* Microsoft Edge */
       font-size: 12px;
       font-family: 'Ubuntu', sans-serif;
       color: black;
       font-weight: normal;
   }
   /* end: header */
   /* phan slider */
   
   #slider {
       margin-top: 32px;
   }
   
   #slider .text-content {
       bottom: 48px;
       color: #000;
       text-align: center;
       right: 0;
       left: 0;
   }
   
   #slider .text-heading {
       font-weight: 500;
       font-size: 24px;
   }
   
   #slider .text-decription {
       font-size: 15px;
       margin-top: 25px;
       text-shadow: 0 0 1px #fff;
   }
   /* footer */
   /* map-section */
   
   .map-section img {
       width: 100%;
   }
   
   .form>form input {
       border: none;
   }
   /*footer*/
   
   #footer {
       margin-top: 32px;
       padding: 32px 16px;
       text-align: center;
   }
   
   form>input {
       height: 42px;
       width: 321px;
       text-align: center;
       border: 1px solid rgba(0, 0, 0, 0.3);
   }
   
   form>input:focus {
       outline: none;
   }
   
   form>button {
       height: 42px;
       width: 134px;
       border: none;
       background-color: #000;
       color: #fff;
       cursor: pointer;
   }
   
   form>button:hover {
       color: #000;
       background-color: #fff;
   }
   
   #footer .social-list {
       font-size: 24px;
   }
   
   #footer .social-list a {
       color: rgba(0, 0, 0, 0.6);
       text-decoration: none;
   }
   
   #footer .copy-right a:hover,
   #footer .social-list a :hover {
       color: rgba(0, 0, 0, 0.4);
   }
   
   #footer .copy-right {
       margin-top: 15px;
       color: rgba(0, 0, 0, 0.6);
   }
   
   #footer .copy-right a {
       color: rgba(0, 0, 0, 0.6);
   }
   
   .more--info {
       display: flex
   }
   
   .more--info__items {
       display: flex;
       justify-content: space-around;
   }
   
   .more--info__items--bottom {
       padding-right: 8px;
       padding-left: 8px;
   }
   
   .more--info__items--bottom>a {
       color: rgba(0, 0, 0, 0.5);
       font-size: 14px;
   }
   
   .question--mark {
       display: block;
       background-color: rgba(0, 0, 0, 0.3);
       height: 32px;
       width: 32px;
       float: right;
       z-index: 1;
       cursor: pointer;
   }
   
   .question--mark>p {
       align-items: center;
       font-size: 18px !important;
       background-color: gray;
       border-radius: 50%;
       line-height: 32px;
       color: white;
   }
   @media (max-width:46.187em) {
       /* use for mobile slider--mobile trang chu*/

       #slider--main {
           display: none;
       }
       .slider__mobile {
           display: block;
           position: relative;
           height: 100%;
           max-height: 28rem;
           width: 100%;
           overflow: hidden;
           max-width: 27.5625rem;
       }

       .mySlides{
           display: none ;
           width: 100% !important;
           object-fit: cover;
       }
       .img--main{
           height: auto;
           vertical-align: middle;
           max-width: 100%;
           max-height: 100%;
           border: 0;
       }
       /* end: slider--mobile */
       .section-name,.content-section{
           display: block;
       }
       .icon, .place-time,.place-decription{
           display: flex;
           justify-content: center;
           padding: 0.25rem 0;
           font-family: 'Ubuntu', sans-serif;


       }
       .place-item{
           margin: 0.5rem 0;
       }

   }